@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Start Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

::-moz-selection {
  color: #fff;
  background: #1c1c1c;
}

::selection {
  color: #fff;
  background: #1c1c1c;
}

.body {
  overflow-y: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden !important;
  background-color: #0a0a0a;
  position: relative;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #ffff57;
}

.pattern {
  position: fixed;
  height: 100vh;
  left: 40px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.2;
}

@media (max-width: 900px) {
  body::-webkit-scrollbar {
    width: 0px;
  }
}
html {
  max-width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #1c1c1c; /* Border color */
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

/* Change the color of the checkbox when checked */
input[type=checkbox]:checked {
  border-color: #1c1c1c; /* Border color when checked */
  background-color: #1c1c1c; /* Background color when checked */
}

/* Style the checkmark inside the checkbox */
input[type=checkbox]::before {
  content: "✓"; /* Unicode character for checkmark */
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  font-size: 16px;
  color: #fff; /* Checkmark color */
  line-height: 16px;
  text-align: center;
  visibility: hidden;
}

/* Show the checkmark when the checkbox is checked */
input[type=checkbox]:checked::before {
  visibility: visible;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-left {
  animation: fadeleft 1200ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-right {
  animation: faderight 1200ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-top {
  animation: fadetop 1200ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-btm {
  animation: fadebtm 1200ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes fadeleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadebtm {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.opacity {
  opacity: 0;
}

.opacity-ani {
  opacity: 0;
  animation: opacityani 800ms ease 500ms forwards;
}

@keyframes opacityani {
  100% {
    opacity: 1;
  }
}
/* End Default */
.box {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  position: relative;
  overflow-x: hidden;
}
.box::-webkit-scrollbar {
  width: 0;
}

.box2 {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

/* End Default */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 15;
  transition: 0.3s all ease;
}

nav.color {
  background-color: #1c1c1c;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
}

.goTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}
.goTop a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #32d852;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
  cursor: pointer;
  transition: 0.2s;
}
.goTop a img {
  width: 30px;
}

.f-s {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translateX(-20px);
}

.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}
.footerLogo img {
  transform: translateX(-20px);
}
.footerLogo p {
  font-size: 0.9em;
}

.links {
  display: flex;
  height: 90px;
  z-index: 4;
}

.mainLinks {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 25px;
}

.link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  color: #fff;
  text-transform: capitalize;
}
.link img {
  width: 7px;
}

.link {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 90px;
  gap: 5px;
  transition: 0.2s;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  bottom: 25px;
  left: -101%;
  background-color: #ffff57;
  transition: 0.2s all ease;
}

.link.active::after {
  left: 0;
}

.menu {
  display: none;
  flex-direction: column;
  position: relative;
  height: 80px;
  width: 35px;
  border: none;
  outline: none;
  background-color: transparent;
}
.menu span {
  height: 2px;
  width: 35px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  transition: 0.3s;
  right: 0;
}
.menu span:nth-child(1) {
  width: 30px;
  top: 28px;
}
.menu span:nth-child(2) {
  top: 40px;
}
.menu span:nth-child(3) {
  top: 52px;
  width: 30px;
}

.activeMenu .box .menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 40px;
  background-color: red;
}

.activeMenu .box .menu span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.activeMenu .box .menu span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: red;
  top: 40px;
}

.ls {
  display: flex;
  gap: 20px;
}
.ls .mLinks {
  display: none;
}

.layer {
  position: absolute;
  bottom: -10px;
  right: 0;
  z-index: 1;
  opacity: 0;
  animation: faderight 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 3000ms forwards;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 3px solid #ffff57;
  overflow: hidden;
}
.home .xxHome {
  z-index: 2;
  opacity: 1;
}
.home .xleft {
  right: auto;
  left: 10%;
}
.home video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

@media (max-width: 901px) {
  .menu {
    display: flex;
  }
  .last .mLinks {
    display: none;
  }
  .ls {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    top: 80px;
    left: -100%;
    gap: 0;
    transition: 0.4s all ease;
    background-color: #1c1c1c;
    padding: 0 0 70px 0;
  }
  .ls .mLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
  }
  .ls::-webkit-scrollbar {
    width: 0px;
  }
  .mainLinks {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    padding: 30px 5% 20px 5%;
  }
  .link {
    height: 40px;
    white-space: nowrap;
  }
  .link::after {
    bottom: 0;
  }
  .activeMenu .f-s .links .ls {
    left: 0;
  }
  .layer {
    display: none;
  }
  .home .xright {
    display: none;
  }
}
.ht {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sh {
  width: 350px;
  z-index: 2;
}

.float {
  animation: float 3s linear forwards infinite;
}

@keyframes float {
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.homeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  z-index: 3;
}
.homeText h1 {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-size: 4em;
  line-height: 1.5;
  font-weight: 500;
}
.homeText h1 span {
  display: inline-flex;
  color: #ffff57;
  /*
  width: fit-content;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  gap: 15px;
  animation: sgsdf 0.3s ease 3s forwards;
  &::after {
    content: "";
    position: relative;
    width: 100%;
    height: 3px;
    right: -100%;
    background-color: $yellow;
    animation: s25d .5s ease 3s forwards;
  }*/
}

@keyframes sgsdf {
  100% {
    color: #ffff57;
  }
}
@keyframes s25d {
  100% {
    right: 0;
  }
}
.homeLogo {
  width: 300px;
}

.circle {
  position: absolute;
  width: 659px;
  height: 678px;
  left: -700px;
  top: -450px;
  background: #ffff57;
  filter: blur(200px);
  z-index: -1;
}

.rightBtm {
  left: auto;
  right: -700px;
  top: auto;
  bottom: 300px;
}

.circle.bto-500 {
  top: auto;
  bottom: -300px;
}

.readM {
  padding: 5px 25px;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  gap: 5px;
  position: absolute;
  bottom: 40px;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: 0.3s all ease;
}
.readM i {
  transition: 0.3s all ease;
}
.readM:hover {
  background-color: #ffff57;
  color: #1c1c1c;
}
.readM:hover i {
  color: #1c1c1c;
}

.xxHome {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 10%;
  top: 0;
  z-index: -1;
  opacity: 0.7;
}

@media (max-width: 1000px) {
  .sh {
    display: none;
  }
}
@media (max-width: 900px) {
  .homeText h1 {
    width: 100%;
    font-size: 3em;
  }
  .homeLogo {
    width: 250px;
  }
}
@media (max-width: 750px) {
  .homeText h1 {
    font-size: 2.2em;
    text-align: center;
  }
  .homeText h1 br {
    display: none;
  }
  .homeLogo {
    width: 200px;
  }
}
@media (max-width: 340px) {
  .homeText h1 {
    font-size: 2em;
  }
}
.z2 {
  z-index: 2;
}

.btmright {
  left: auto;
  top: auto;
  right: -700px;
  bottom: -450px;
}

.topright {
  left: auto;
  bottom: auto;
  right: -700px;
  top: -450px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.p50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.aboutCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 20px;
}
.aboutCont img {
  width: 300px;
}

.floating {
  animation: floating 3s linear infinite;
}

@keyframes floating {
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 500px) {
  .aboutCont img {
    width: 200px;
  }
}
.sugsw {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.aboutText {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aboutText h1 {
  position: relative;
  padding-left: 20px;
}
.aboutText h1::before {
  position: absolute;
  left: 0;
  content: "";
  width: 4px;
  height: 100%;
  background-color: #ffff57;
}
.aboutText h1 {
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 1.5;
  font-weight: 500;
}
.aboutText h1 span {
  display: inline-flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.aboutText h1 span i {
  position: absolute;
  width: 95%;
  height: 3px;
  background-color: #ffff57;
  bottom: 0;
  transition: 0.5s all 0.4s ease;
}
.aboutText article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  padding-left: 20px;
}
.aboutText article::before {
  position: absolute;
  left: 0;
  content: "";
  width: 4px;
  height: 100%;
  background-color: #ffff57;
}
.aboutText article p {
  position: relative;
  padding-left: 0;
}
.aboutText article p::before {
  display: none;
}

.hdHome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
  height: 100px;
  color: #fff;
  z-index: 2;
}
.hdHome h1 {
  color: #fff;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 10px;
  transition: 0.5s all ease;
  border-radius: 5px;
}
.hdHome h1 span {
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s all ease;
}
.hdHome h1 span i {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ffff57;
  bottom: 0px;
  right: -100%;
  transition: 0.5s all ease;
  z-index: -1;
}

.p020 {
  padding: 0 20px;
}

.hdr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 2;
  overflow: initial;
}
.hdr h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2em;
  overflow: initial;
}
.hdr h1 span {
  display: inline-flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.hdr h1 span i {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffff57;
  bottom: 0px;
  right: 0;
  transition: 0.5s all 0.4s ease;
}

.reached.hdHome h1 {
  color: #000;
}
.reached.hdHome h1 span {
  color: #000;
}
.reached.hdHome h1 span i {
  width: calc(100% + 20px);
  height: 100%;
  border-radius: 5px;
  right: -10px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.servicesInner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-x: visible;
}
.servicesInner .swiper-button-next {
  position: absolute;
  top: 65%;
  right: -50px;
  color: #ffff57;
  z-index: 1;
}
.servicesInner .swiper-button-prev {
  position: absolute;
  top: 65%;
  left: -50px;
  color: #ffff57;
  z-index: 1;
}

@media (max-width: 1350px) {
  .servicesInner .swiper-button-next {
    display: none;
  }
  .servicesInner .swiper-button-prev {
    display: none;
  }
}
.ser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 270px;
  height: 330px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: 0.3s all ease;
  z-index: 2;
  border: 3px solid #1c1c1c;
}
.ser img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}
.ser .wi200 {
  width: 150px;
}
.ser p,
.ser h2 {
  z-index: 2;
  color: #1c1c1c;
  text-align: center;
}
.ser h2 {
  font-size: 1em;
}
.ser p {
  font-size: 0.8em;
}

@media (max-width: 1150px) {
  .aboutText {
    width: 500px;
  }
}
@media (max-width: 900px) {
  .aboutCont {
    flex-direction: column;
  }
  .aboutText {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .aboutText h1 {
    font-size: 1.1em;
  }
  .aboutText p {
    font-size: 0.8em;
  }
}
@media (max-width: 420px) {
  .ser {
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  .aboutCont img {
    width: 100%;
  }
}
.clients {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.clients .xxHome {
  right: auto;
  left: 20px;
}

.clientsInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viw {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 7px 30px;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: 5px;
  bottom: 40px;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: 0.3s all ease;
  margin-top: 20px;
  border: 1px solid #ffff57;
}
.viw i {
  transition: 0.3s all ease;
}
.viw:hover {
  background-color: #ffff57;
  color: #1c1c1c;
}
.viw:hover i {
  color: #1c1c1c;
}

.mySwiper {
  width: 100%;
  height: 100%;
}
.mySwiper .swiper-wrapper {
  transition-timing-function: linear;
}

.swiper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 5px;
}
.client img {
  position: absolute;
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.pb50 {
  padding-bottom: 50px;
}

.counter {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

.counterCard {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  background-color: #1c1c1c;
}
.counterCard h1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 3.5em;
  white-space: nowrap;
  font-weight: 600;
  color: #ffff57;
  line-height: 1.25;
  z-index: 2;
}
.counterCard h1::after {
  content: "+";
  font-size: 0.5em;
}
.counterCard span {
  font-size: 1.2em;
  white-space: nowrap;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 2;
}
.counterCard img {
  position: absolute;
  right: auto;
}

.counterInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media (max-width: 1200px) {
  .counter {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .counterCard {
    height: 170px;
    width: calc(50% - 10px);
  }
  .counterCard h1 {
    font-size: 2.5em;
  }
  .counterCard span {
    font-size: 1em;
  }
}
@media (max-width: 350px) {
  .counterCard {
    height: 150px;
  }
  .counterCard h1 {
    font-size: 2em;
  }
  .counterCard span {
    font-size: 0.9em;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerLogo img {
  width: 250px;
}
.footerLogo .aboutText {
  width: 400px;
}
.footerLogo .aboutText article p {
  font-size: 1em;
}

.footerLinkGroup {
  display: flex;
  gap: 100px;
}

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.linkGroup h2 {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2em;
}
.linkGroup h2::after {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #ffff57;
}
.linkGroup ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.linkGroup ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9em;
  line-height: 1.7;
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s all ease;
  font-weight: 300;
}
.linkGroup ul li a img {
  width: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.linkGroup ul li a:hover {
  color: #ffff57;
}

.cont {
  width: 290px;
}
.cont ul li:nth-child(1) a {
  line-height: 1.5;
}
.cont ul li a {
  line-height: 2;
}
.cont ul li a img {
  width: 20px;
}

.media {
  display: flex;
  gap: 10px;
  transform: translateY(-10px);
}
.media a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-decoration: none;
  background-color: #fff;
  transition: 200ms all ease;
}
.media a i {
  font-size: 1em;
  color: #1c1c1c;
}
.media a:hover {
  background-color: #ffff57;
}

@media (max-width: 1001px) {
  .footer {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 601px) {
  .footerLinkGroup {
    flex-direction: column;
    gap: 30px;
  }
  .linkGroup {
    width: 100%;
  }
  .cont {
    width: 100%;
  }
}
@media (max-width: 421px) {
  .footerLogo img {
    width: 200px;
  }
  .footerLogo .aboutText {
    width: 100%;
  }
}
@media (max-width: 551px) {
  .circle {
    width: 359px;
    height: 378px;
    left: -350px;
    top: -250px;
  }
  .circle.topright {
    left: auto;
    top: -250px;
    right: -350px;
  }
}
#bullet {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: hsla(60, 100%, 67%, 0.4);
  border-radius: 50%;
  pointer-events: none;
  transition: 10ms linear;
  z-index: 25;
}

.ourwork {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  padding-bottom: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.wImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 350px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.wImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s all ease;
}
.wImg img:hover {
  width: 350px;
  height: 400px;
}

@media (max-width: 976px) {
  #bullet {
    display: none;
  }
}
@media (max-width: 420px) {
  .wImg {
    margin: 0 auto;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  animation: hide 400ms ease 500ms forwards;
}
.loader img:nth-child(2) {
  width: 80px;
  margin-left: 25px;
  transform: translateY(-20px);
}

@keyframes hide {
  100% {
    top: 100%;
  }
}
.loaderLogo {
  opacity: 0;
  animation: loader 1.5s linear 0s infinite forwards;
}
.loaderLogo img {
  width: 200px;
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-bottom: 5px solid #ffff57;
}
.header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  left: 0;
}
.header .layer {
  width: 500px;
  z-index: 5;
  animation: faderight 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 700ms forwards;
}
.header .hm1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.header h1 {
  z-index: 4;
  text-transform: uppercase;
  font-size: 3em;
  opacity: 0;
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
}
.header .blogHeader {
  z-index: 4;
}
.header .blogHeader h2 {
  width: 100%;
  font-size: 2em;
  opacity: 0;
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
  text-align: left;
  color: #ffff57;
}

@media (max-width: 550px) {
  .header .blogHeader h2 {
    font-size: 1.5em;
  }
}
.cForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cForm input,
.cForm textarea {
  border: none;
  outline: none;
  background-color: transparent;
  height: 40px;
  border-bottom: 1px solid #fff;
  font-size: 1em;
  color: #fff;
  border-radius: 0;
}
.cForm input::-moz-placeholder, .cForm textarea::-moz-placeholder {
  color: #fff;
}
.cForm input::placeholder,
.cForm textarea::placeholder {
  color: #fff;
}
.cForm textarea {
  resize: none;
  height: 75px;
}
.cForm button {
  width: 100%;
  height: 50px;
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 5px;
  font-weight: 500;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.contact .box {
  display: flex;
  align-items: stretch;
  gap: 50px;
  justify-content: space-between;
  padding: 0 0 0 20px;
}

.contactForm {
  width: 500px;
  padding: 100px 0;
}
.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contactForm form h1 {
  color: #fff;
}
.contactForm form span {
  color: #fff;
}

.cDatax {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  padding-right: 150px;
}

.longT {
  position: absolute;
  top: 0;
  height: 100%;
  width: 150px;
  background-color: #1c1c1c;
  right: 0;
}

.dCardr {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #1c1c1c;
  padding: 40px 100px 40px 40px;
}
.dCardr::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-color: #ffff57;
}
.dCardr .xxHome {
  right: 30px;
  left: auto;
  z-index: 1;
}

.rw {
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgba(255, 255, 255, 0.69);
  padding: 10px 0;
  transition: 0.2s all ease;
}
.rw img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.rw:hover {
  scale: 1.1;
}

.loaction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 350px;
}
.loaction iframe {
  width: 100%;
  height: 100%;
}
.loaction .lc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}
.loaction .lc a {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  height: 45px;
  padding: 0 30px;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #1c1c1c;
  transition: 0.3s all ease;
}
.loaction .lc a:hover {
  background-color: #ffff57;
  color: #1c1c1c;
}

@media (max-width: 1000px) {
  .contact .box {
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 30px;
  }
  .contactForm {
    width: 100%;
    padding: 50px 0 0 0;
  }
  .longT {
    display: none;
  }
  .cDatax {
    padding: 0;
  }
  .dCardr {
    width: 100%;
  }
  .dCardr::after {
    top: -15px;
    left: -15px;
  }
}
@media (max-width: 550px) {
  .header {
    height: 350px;
  }
  .header h1 {
    font-size: 2em;
  }
}
.hoverBtn {
  transition: 0.3s all ease;
}
.hoverBtn:hover {
  background-color: #ffff57;
  color: #1c1c1c;
}

.workInner {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.works {
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.worksImgs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 20px;
}
.worksImgs video,
.worksImgs iframe {
  width: calc(50% - 10px);
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wII {
  width: calc(50% - 10px);
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 600px) {
  .wII {
    width: 100%;
    height: auto;
  }
  .worksImgs video,
  .worksImgs iframe {
    width: 100%;
    height: auto;
  }
}
.work-col1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.work-col1 .flip {
  margin-bottom: auto;
}
.work-col1 .flip:nth-child(1) {
  width: calc(50% - 10px);
  height: 450px;
}
.work-col1 .flip:nth-child(2) {
  width: calc(50% - 10px);
  height: 400px;
}
.work-col1 .flip:nth-child(3) {
  width: calc(50% - 10px);
  height: 400px;
}
.work-col1 .flip:nth-child(4) {
  width: calc(50% - 10px);
  height: 450px;
  transform: translateY(-50px) !important;
}

.work-col2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work-col2 .flip:nth-child(1) {
  width: 100%;
  height: 450px;
}
.work-col2 .flip:nth-child(2) {
  width: 100%;
  height: 400px;
}

.flip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  position: relative;
  overflow: hidden;
}
.flip:hover .flip-data {
  right: 0;
}

.flip-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flip-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 20px 40px 20px 40px;
  background-color: #1c1c1c;
  right: -100%;
  transition: 0.3s all ease;
}
.flip-data::after {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #ffff57;
  position: absolute;
  right: 0;
}
.flip-data h1 {
  font-size: 2em;
  color: #ffff57;
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
}
.flip-data p {
  font-size: 1em;
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
}
.flip-data span {
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 0.9em;
}
.flip-data .linkW {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-top: 30px;
}
.flip-data .linkW .viw {
  position: relative !important;
  left: auto;
  bottom: auto;
  top: auto;
  right: 0;
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 750px) {
  .works {
    flex-direction: column;
  }
  .work-col1,
  .work-col2 {
    width: 100%;
    flex-direction: column;
  }
  .work-col1:nth-child(4),
  .work-col2:nth-child(4) {
    transform: translateY(0) !important;
  }
  .work-col1 .flip,
  .work-col2 .flip {
    width: 100% !important;
    height: 400px !important;
  }
}
@media (max-width: 550px) {
  .flip-data {
    padding: 20px;
  }
  .flip-data h1 {
    font-size: 1.5em;
  }
  .linkW {
    padding-top: 10px;
  }
  .work-col1 .flip,
  .work-col2 .flip {
    height: 350px !important;
  }
}
.a2 .xxHome {
  left: auto;
  right: 10%;
}

.ab100 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.ab100 .aboutText {
  width: 100%;
}

.sw2 {
  padding: 20px 0;
}

.sw3 {
  padding: 20px 0 20px 20px;
}

.serviceInner {
  width: 550px;
  height: 270px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1c1c1c;
  position: relative;
  overflow: hidden;
}
.serviceInner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(to right, #0a0a0a, #0a0a0a 50%, rgba(255, 255, 255, 0));
}
.serviceInner img {
  position: absolute;
  -o-object-position: center;
     object-position: center;
  width: 99%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  z-index: 1;
  right: 0;
  border-radius: 15px 5px 5px 15px;
}
.serviceInner h1 {
  width: 100%;
  text-align: left;
  color: #ffff57;
  font-size: 3em;
  font-weight: 600;
  z-index: 3;
}
.serviceInner h2 {
  width: 60%;
  text-align: left;
  font-size: 1.7em;
  color: #fff;
  z-index: 3;
  margin-right: auto;
}
.serviceInner p {
  width: 55%;
  text-align: left;
  font-size: 0.9em;
  padding-top: 10px;
  z-index: 3;
  margin-right: auto;
}

@media (max-width: 700px) {
  .servicesInner {
    padding: 30px 0 30px 20px;
    height: auto;
  }
  .servicesInner .newHeader h1 {
    color: #fff;
  }
  .servicesInner h1 {
    text-align: left;
    color: #ffff57;
    font-size: 1.7em;
    font-weight: 600;
    z-index: 3;
  }
  .servicesInner h2 {
    text-align: left;
    width: 100%;
    font-size: 1.2em;
    color: #fff;
    z-index: 3;
  }
  .servicesInner p {
    text-align: left;
    font-size: 0.8em;
    padding-top: 10px;
    z-index: 3;
  }
  .serviceInner {
    width: 100% !important;
    height: auto;
    padding: 30px;
    flex-grow: 1;
  }
}
@media (max-width: 340px) {
  .serviceInner {
    height: auto;
  }
  .serviceInner img {
    -o-object-position: right;
       object-position: right;
  }
}
.blogInner {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 30px;
}

.blog {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.bimg {
  width: 400px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bimg img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.viw2 {
  position: relative;
  bottom: auto;
  background-color: #ffff57;
  color: #1c1c1c;
  font-weight: 500;
}
.viw2 i {
  color: #1c1c1c;
}

.blogData {
  width: calc(100% - 420px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blogData h2 {
  color: #ffff57;
}
.blogData p {
  font-size: 0.9em;
}
.blogData .viw {
  margin: 0;
  margin-right: auto;
}

.contactHome {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 50px 20px;
}
.contactHome iframe {
  width: 50%;
  height: 350px;
  border-radius: 10px;
}
.contactHome form {
  width: 50%;
}
.contactHome form .cForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contactHome form .cForm input,
.contactHome form .cForm textarea {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.contactHome form .cForm input::-moz-placeholder, .contactHome form .cForm textarea::-moz-placeholder {
  color: #fff;
}
.contactHome form .cForm input::placeholder,
.contactHome form .cForm textarea::placeholder {
  color: #fff;
}
.contactHome form .cForm button {
  background-color: #fff;
  color: #1c1c1c;
}
.contactHome form .cForm button:hover {
  background-color: #ffff57;
}

@media (max-width: 976px) {
  .contactHome {
    flex-direction: column;
  }
  .contactHome iframe {
    width: 100%;
  }
  .contactHome form {
    width: 100%;
  }
  .blog {
    flex-direction: column;
  }
  .blog .blogData {
    width: 100%;
  }
  .blog .bimg {
    width: 100%;
    height: 400px;
  }
  .blog .bimg img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 600px) {
  .blog .bimg {
    height: auto;
  }
  .blog .bimg img {
    height: auto;
  }
}
@media (max-width: 450px) {
  .blog h2 {
    font-size: 1.3em;
  }
  .blog p {
    font-size: 0.8em;
  }
}
.aboutSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.swAbout .swiper-slide img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 800px) {
  .swAbout .swiper-slide img {
    height: auto;
  }
}
.floatC {
  top: auto;
  bottom: auto;
}

.centerBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.sc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  flex-wrap: wrap;
  gap: 50px;
}

@media (max-width: 450px) {
  .sc {
    width: 100%;
    flex-direction: column;
  }
  .sc .serviceInner {
    width: 100%;
  }
}
.clientsIns {
  padding: 100px 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.workPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 0;
  margin: 0 auto;
}
.workPage .next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 0;
  padding: 0 20px;
  height: 30px;
  border-radius: 7px;
  background-color: #ffff57;
  cursor: pointer;
}
.workPage .next i {
  color: #1c1c1c;
  font-size: 1.2em;
}
.workPage .prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 90px;
  top: 0;
  padding: 0 20px;
  height: 30px;
  border-radius: 7px;
  background-color: #ffff57;
  cursor: pointer;
}
.workPage .prev i {
  color: #1c1c1c;
  font-size: 1.2em;
}
.workPage .prev.swiper-button-disabled {
  opacity: 0.7;
}
.workPage .next.swiper-button-disabled {
  opacity: 0.7;
}

@media (max-width: 976px) {
  .workPage .next,
  .workPage .prev {
    display: none;
  }
}
.filter {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  background-color: #1c1c1c;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.filter.active {
  background-color: #ffff57;
  color: #1c1c1c;
}

.filtW {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  /*&::after {
    content: "";
    position: absolute;
    right: -25px;
    top: -10px;
    z-index: 3;
    height: 150%;
    background-color: #0a0a0a;
    width: 50px;
    box-shadow: -20px 0px 10px #0a0a0a;
  }*/
}

.filterSw {
  width: 100%;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.paginationCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  position: relative;
  direction: ltr;
  background-color: #1c1c1c;
  margin-top: 20px;
}

.page {
  font-size: 0.9em;
  color: #fff;
}
.page span {
  color: #ffff57;
}

@media (max-width: 471px) {
  .paginationCont {
    justify-content: center;
    padding: 0 20px;
  }
  .page {
    position: absolute;
    top: -27px;
    left: 5px;
  }
}
.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
}
.paginations button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff57;
  border-radius: 50%;
  margin: 0 10px;
}
.paginations button img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.spans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
  padding: 0 10px;
}
.spans li:nth-child(1) .page-link {
  background-color: #fff;
}
.spans li:nth-child(1) .page-link.active {
  background-color: #fff;
}
.spans li:nth-child(1) .page-link.active:hover {
  background-color: #c7c7c8;
}
.spans li:last-child .page-link {
  background-color: #fff;
}
.spans li:last-child .page-link.active {
  background-color: #fff;
}
.spans li:last-child .page-link.active:hover {
  background-color: #c7c7c8;
}
.spans li .page-link.active {
  background-color: #ffff57;
  color: #1c1c1c;
}
.spans li .page-link.active:hover {
  background-color: #ffff57;
}
.spans li .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eef0f4;
  color: #1c1c1c;
  transition: 0.2s;
  cursor: pointer;
  font-size: 0.8em;
}
.spans li .page-link img {
  width: 7px;
}
.spans li .page-link:hover {
  background-color: #c7c7c8;
}

@media (max-width: 471px) {
  .paginationCont {
    justify-content: center;
    padding: 0 20px;
    margin-top: 40px;
  }
  .page {
    position: absolute;
    top: -27px;
    left: 5px;
  }
}
.blogs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px;
}

.blogxInner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blogImg {
  width: 100%;
}
.blogImg img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.blogText {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1250px) {
  .blogImg img {
    height: auto;
  }
}
.yc {
  color: #ffff57;
}

.w100 {
  width: 100%;
}

.imgsP {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;
}
.imgsP img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1250px) {
  .imgsP img {
    height: auto;
  }
}
.tp {
  padding: 50px 20px;
}

.pDa {
  display: flex;
  flex-direction: column;
  z-index: 4;
  gap: 20px;
}
.pDa h3 {
  font-size: 2em;
  color: #ffff57;
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
}
.pDa p {
  font-size: 1em;
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
}
.pDa span {
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 0.9em;
}

@media (max-width: 600px) {
  .pDa {
    display: flex;
    flex-direction: column;
    z-index: 4;
    gap: 10px;
  }
  .pDa h3 {
    font-size: 1.5em;
  }
  .pDa p {
    font-size: 0.9em;
  }
  .pDa span {
    font-size: 0.8em;
  }
}
.noleft h1 {
  padding-left: 0;
}
.noleft h1::before {
  display: none;
}
.noleft p {
  padding-left: 0;
}
.noleft p::before {
  display: none;
}

.viw3 {
  background-color: #000;
  border: 1px solid #fff;
  margin: 0;
}
.viw3:hover {
  border: 1px solid #ffff57;
}

.jcr {
  justify-content: right;
}

.jcl {
  justify-content: left;
}

.pt150 {
  padding-top: 150px;
  padding-bottom: 50px;
  justify-content: left;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.pt150 h1 span i {
  animation: to100 0.4s ease 0.4s forwards;
}

@keyframes to100 {
  100% {
    right: 0;
  }
}
.contactUsLink {
  border: 1px solid #ffff57;
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: 0.3s all ease;
}
.contactUsLink::after {
  display: none;
}

.contactUsLink.active {
  background-color: #ffff57;
  color: #1c1c1c;
}

.carform {
  width: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 50px 20px;
  gap: 15px;
}
.carform header {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
}
.carform header h1 {
  color: #fff;
  font-size: 1.7em;
  text-transform: uppercase;
}
.carform header span {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #fff;
  font-weight: 300;
}
.carform header .hcen {
  text-align: center;
  padding-bottom: 10px;
}

.careerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
}
.input span {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.1em;
}
.input span::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 4px;
  left: 0;
  background-color: #ffff57;
}
.input input,
.input select,
.input .in {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #fff;
  font-size: 1em;
  border: none;
  outline: none;
  background-color: transparent;
  height: 40px;
  background-color: #3b3b29;
}
.input select {
  background-color: #3b3b29;
}
.input textarea {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 115px;
  padding: 10px;
  resize: none;
  background-color: #3b3b29;
  color: #fff;
  font-size: 1.1em;
}
.input .send .login {
  margin: 0 auto;
}
.input i {
  position: absolute;
  height: 40px;
  width: 4px;
  left: 0;
  background-color: #ffff57;
  bottom: 0;
}

.select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b29;
}
.select img {
  position: absolute;
  right: 15px;
  width: 10px;
}

.input.ta span {
  height: 115px;
}

.fileInput {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
}
.fileInput .label {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.1em;
}
.fileInput .label::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 4px;
  left: 0;
  background-color: #ffff57;
}

.file {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.file::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 4px;
  left: 0;
  background-color: #ffff57;
}
.file #fileData {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 10px;
  width: 200px;
  height: 40px;
  background-color: #3b3b29;
  color: #fff;
}
.file #label {
  background-color: #ffff57;
  color: #1c1c1c;
  border-radius: 5px;
  cursor: pointer;
  height: 38px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.send input {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  color: #1c1c1c;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #ffff57;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
}

.cfp {
  padding-bottom: 100px;
  padding-top: 30px;
}

@media (max-width: 370px) {
  .w360 h1 {
    font-size: 1.7em;
  }
}
.pl20 {
  padding-left: 20px;
}

@media (max-width: 900px) {
  .mySwiper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    pointer-events: none;
  }
  .mySwiper .swiper-wrapper {
    width: 100%;
    padding: 30px 0 30px 20px !important;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    -moz-column-gap: 5px;
         column-gap: 5px;
    flex-wrap: wrap;
  }
  .mySwiper .swiper-wrapper .swiper-slide {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px !important;
    flex-grow: 0 !important;
    flex-shrink: 1 !important;
  }
  .mySwiper .swiper-wrapper .swiper-slide .client {
    width: 100px !important;
    height: 100px !important;
    background-color: transparent;
  }
  .sw3 {
    padding: 0;
    padding-right: 10px;
    pointer-events: none;
  }
  .sw3 .swiper-wrapper {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  .servicesInner {
    padding-left: 20px;
  }
  .serviceInner {
    width: 100%;
  }
}
.homexWow {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100dvh;
  justify-content: space-between;
  padding: 0 20px;
  overflow: hidden;
  position: relative;
}

.wheel {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}
svg #wheel {
  animation: scroll ease 1.5s infinite;
}

.homeTextxWow {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100lvh;
  width: 700px;
  position: relative;
  z-index: 5;
}
.homeTextxWow h1 {
  color: #fff;
  font-size: 3em;
  display: flex;
  gap: 20px;
}

.text {
  position: relative;
  color: transparent;
}

.text::before,
.text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #ffff57;
  transition: 0.2s;
  padding: 0 5px;
  border-radius: 5px;
}

.text::before {
  -webkit-clip-path: polygon(0 0, 60% 0, 30% 100%, 0 100%);
          clip-path: polygon(0 0, 60% 0, 30% 100%, 0 100%);
}

.text::after {
  -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 30% 100%);
          clip-path: polygon(60% 0, 100% 0, 100% 100%, 30% 100%);
}

.text:hover::before {
  left: -0.15em;
  transform: rotate(-5deg);
  top: -0.05em;
}

.text:hover::after {
  left: 0.15em;
  transform: rotate(5deg);
  top: 0.05em;
}

#text1 {
  position: absolute;
  opacity: 1;
  transition: 0.3s all ease;
  z-index: 3;
}

#text2 {
  opacity: 0;
  position: absolute;
  transition: 0.3s all ease;
}

.star-field {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  top: 0;
  z-index: -1;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #0a0a0a;
  border-radius: 50%;
  animation: twinkling 3s infinite;
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1200px) {
  .swAbout .swiper-slide img {
    height: 250px !important;
  }
  .homexWow {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .homexWow video {
    width: 700px;
    height: auto;
  }
  .homeTextxWow {
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .homeTextxWow h1 {
    text-align: center;
  }
}
@media (max-width: 976px) {
  .body {
    overflow-y: scroll;
  }
  #text1,
  #text2 {
    position: relative;
  }
  #text2 {
    opacity: 1;
  }
}
@media (max-width: 750px) {
  .homeTextxWow {
    gap: 5px;
  }
  #text1,
  #text2 {
    font-size: 2em;
    gap: 10px;
  }
}
@media (max-width: 500px) {
  .homexWow video {
    width: 170%;
  }
  .wheel svg {
    width: 30px;
    height: 60px;
  }
  #text1,
  #text2 {
    font-size: 1.5em;
  }
}
@media (max-width: 340px) {
  #text1,
  #text2 {
    font-size: 1.3em;
  }
}
.parallex {
  transition: 50ms all linear;
}

.p020 {
  padding: 0 20px;
}

.center {
  display: flex;
  justify-content: center;
}

.flex-cou {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.experience {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1;
  transition: 0.3s all ease;
}

.scrollTarget {
  position: relative;
  height: 500dvh;
  width: 100%;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.vignette-radial {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  pointer-events: none;
}

.firstText {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 50;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.textContent {
  position: fixed;
}

.firstText img {
  width: 200px;
  transition: 50ms all ease;
}

#text {
  opacity: 0;
  transition: 500ms ease;
}
#text h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 500;
}
#text h1 span {
  color: #ffff57;
}

.aboutNew {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  padding: 50px 20px;
}
.aboutNew img {
  width: 300px;
}

.hdY {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #ffff57;
  font-weight: 600;
}

.newAbout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.newAbout .abutT {
  max-width: 700px;
  font-weight: 400;
  font-size: 1.3em;
  text-transform: capitalize;
}
.newAbout a {
  margin-right: auto;
  margin-left: 0;
}

.newHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
}
.newHeader h1 {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 400;
}

.transUpper {
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .aboutNew {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 0 20px;
  }
}
@media (max-width: 976px) {
  #text h1 {
    font-size: 3em;
    line-height: 2;
  }
}
@media (max-width: 720px) {
  #text h1 {
    font-size: 2em;
  }
  .newAbout .abutT {
    font-size: 1.2em;
  }
}
@media (max-width: 450px) {
  #text h1 {
    font-size: 1.7em;
  }
  .aboutNew img {
    width: 100%;
  }
  .newAbout .abutT {
    font-size: 1em;
  }
  .newAbout a {
    font-size: 1em;
  }
  .hdY {
    font-size: 1.7em;
  }
  .newHeader {
    padding-top: 30px;
  }
  .newHeader h1 {
    font-size: 1.1em !important;
  }
}
@media (max-width: 375px) {
  #text h1 {
    font-size: 1.5em;
  }
}
.pHeader {
  padding-left: 20px;
  padding-right: 20px;
}

.p30p0 {
  padding: 30px 0;
}

@media (max-width: 976px) {
  .p30p0 {
    padding: 20px 0;
  }
}
.fdc {
  flex-direction: column;
}

.mt20 {
  margin-top: 40px;
}

.pb100 {
  padding-bottom: 100px;
}

.missionandvission {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.missionandvission video {
  width: 550px;
}

.vandmText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vandmText p {
  font-size: 0.9em;
}
.vandmText p span {
  color: #ffff57;
}
.vandmText h2 {
  position: relative;
}

@keyframes floatC {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 1200px) {
  .missionandvission {
    flex-direction: column;
  }
  .missionandvission video {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .vandmText h2 {
    font-size: 1.4em;
  }
  .vandmText p {
    font-size: 0.8em;
  }
}
.wheel {
  width: 100%;
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: center;
  z-index: 5;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}
svg #wheel {
  animation: scroll ease 1.5s infinite;
}

#whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 2.2em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  background-color: #2eb346;
}
#whatsapp i {
  color: #fff;
}

.trY50 {
  transform: translateY(-50px);
}

.flc {
  flex-direction: column;
}
.flc .work-col1:nth-child(even) {
  transform: translateY(-50px) !important;
}

@media (max-width: 750px) {
  .work-col1 .flip:nth-child(4) {
    transform: translateY(0) !important;
  }
  .flc .work-col1:nth-child(even) {
    transform: translateY(0) !important;
  }
  .trY50 {
    transform: translateY(0);
  }
  .flex-cou {
    padding-bottom: 50px;
  }
}
.pb0 {
  padding-bottom: 0;
}

.flexDC {
  width: 100%;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */