@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Start Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

::-moz-selection {
  color: #fff;
  background: #1c1c1c;
}

::selection {
  color: #fff;
  background: #1c1c1c;
}

body {
  max-width: 100%;
  overflow-x: hidden !important;
  background-color: #000;
  position: relative;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #ffff57;
}

@media (max-width: 900px) {
  body::-webkit-scrollbar {
    width: 0px;
  }
}
html {
  max-width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #1c1c1c; /* Border color */
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

/* Change the color of the checkbox when checked */
input[type=checkbox]:checked {
  border-color: #1c1c1c; /* Border color when checked */
  background-color: #1c1c1c; /* Background color when checked */
}

/* Style the checkmark inside the checkbox */
input[type=checkbox]::before {
  content: "✓"; /* Unicode character for checkmark */
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  font-size: 16px;
  color: #fff; /* Checkmark color */
  line-height: 16px;
  text-align: center;
  visibility: hidden;
}

/* Show the checkmark when the checkbox is checked */
input[type=checkbox]:checked::before {
  visibility: visible;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-left {
  animation: fadeleft 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-right {
  animation: faderight 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-top {
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-btm {
  animation: fadebtm 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes fadeleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadebtm {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.opacity {
  opacity: 0;
}

.opacity-ani {
  opacity: 0;
  animation: opacityani 800ms ease 500ms forwards;
}

@keyframes opacityani {
  100% {
    opacity: 1;
  }
}
/* End Default */
.box {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  position: relative;
  overflow-x: hidden;
}
.box::-webkit-scrollbar {
  width: 0;
}

.box2 {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

/* End Default */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  transition: 0.3s all ease;
}

nav.color {
  background-color: #1c1c1c;
}

.goTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}
.goTop span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #1c1c1c;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
  cursor: pointer;
  transition: 0.2s;
}
.goTop span i {
  color: #fff;
  font-size: 1.5em;
}
.goTop span:hover {
  background-color: #ffff57;
}
.goTop span:hover i {
  color: #1c1c1c;
}

.f-s {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.links {
  display: flex;
  height: 90px;
  z-index: 4;
}

.mainLinks {
  display: flex;
  list-style: none;
  gap: 25px;
}

.link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9em;
  color: #fff;
  text-transform: capitalize;
}
.link img {
  width: 7px;
}

.link {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 90px;
  gap: 5px;
  transition: 0.2s;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  bottom: 25px;
  left: -101%;
  background-color: #ffff57;
  transition: 0.2s all ease;
}

.link.active::after {
  left: 0;
}

.menu {
  display: none;
  flex-direction: column;
  position: relative;
  height: 80px;
  width: 35px;
  border: none;
  outline: none;
  background-color: transparent;
}
.menu span {
  height: 2px;
  width: 30px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  transition: 0.3s;
}
.menu span:nth-child(1) {
  top: 28px;
}
.menu span:nth-child(2) {
  top: 40px;
}
.menu span:nth-child(3) {
  top: 52px;
}

.activeMenu .box .menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 40px;
  background-color: red;
}

.activeMenu .box .menu span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.activeMenu .box .menu span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: red;
  top: 40px;
}

.ls {
  display: flex;
  gap: 20px;
}
.ls .mLinks {
  display: none;
}

.layer {
  position: absolute;
  bottom: -10px;
  right: 0;
  z-index: 1;
  opacity: 0;
  animation: faderight 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 3300ms forwards;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 3px solid #ffff57;
  overflow: hidden;
}
.home .xxHome {
  z-index: 2;
  opacity: 1;
}
.home .xleft {
  right: auto;
  left: 10%;
}
.home video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

@media (max-width: 901px) {
  .menu {
    display: flex;
  }
  .last .mLinks {
    display: none;
  }
  .ls {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    top: 80px;
    left: -100%;
    gap: 0;
    transition: 0.4s;
    background-color: #1c1c1c;
    padding: 0 0 70px 0;
  }
  .ls .mLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
  }
  .ls::-webkit-scrollbar {
    width: 0px;
  }
  .mainLinks {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    gap: 20px;
  }
  .link {
    margin-left: 5%;
  }
  .link {
    height: 40px;
  }
  .link::after {
    bottom: 0;
  }
  .activeMenu .f-s .links .ls {
    left: 0;
  }
  .layer {
    display: none;
  }
  .home .xright {
    display: none;
  }
}
.ht {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sh {
  width: 350px;
  z-index: 2;
}

.float {
  animation: float 3s linear forwards infinite;
}

@keyframes float {
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.homeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 550px;
  z-index: 3;
}
.homeText span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.homeText span::before {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #ffff57;
}
.homeText h1 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffff57;
  color: #1c1c1c;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 3px 10px;
}
.homeText p {
  font-size: 1.2em;
  font-weight: 300;
  text-transform: capitalize;
}
.homeText a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  text-transform: capitalize;
  height: 40px;
  border-radius: 7px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.3s all ease;
}
.homeText a:hover {
  border: 1px solid #1c1c1c;
  background-color: #ffff57;
  color: #1c1c1c;
}

.circle {
  position: absolute;
  width: 659px;
  height: 678px;
  left: -700px;
  top: -450px;
  background: #ffff57;
  filter: blur(200px);
  z-index: -1;
}

.readM {
  padding: 5px 25px;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  gap: 5px;
  position: absolute;
  bottom: 40px;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: 0.3s all ease;
}
.readM i {
  transition: 0.3s all ease;
}
.readM:hover {
  background-color: #ffff57;
  color: #1c1c1c;
}
.readM:hover i {
  color: #1c1c1c;
}

.xxHome {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 10%;
  top: 0;
  z-index: -1;
  opacity: 0.7;
}

@media (max-width: 1000px) {
  .sh {
    display: none;
  }
}
@media (max-width: 550px) {
  .homeText {
    width: 100%;
  }
  .homeText span {
    font-size: 0.9em;
  }
  .homeText h1 {
    font-size: 1.3em;
    white-space: nowrap;
  }
  .homeText p {
    font-size: 0.9em;
  }
  .homeText a {
    font-size: 0.8em;
    height: 35px;
    padding: 0 20px;
  }
}
@media (max-width: 450px) {
  .homeText h1 {
    font-size: 1.1em;
    white-space: nowrap;
  }
}
@media (max-width: 370px) {
  .homeText span {
    font-size: 0.8em;
  }
  .homeText h1 {
    font-size: 0.9em;
    white-space: nowrap;
  }
  .homeText p {
    font-size: 0.8em;
  }
}
.z2 {
  z-index: 2;
}

.btmright {
  left: auto;
  top: auto;
  right: -700px;
  bottom: -450px;
}

.topright {
  left: auto;
  bottom: auto;
  right: -700px;
  top: -450px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.p50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.aboutCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 20px;
}
.aboutCont img {
  width: 200px;
}

.aboutText {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aboutText p,
.aboutText h1 {
  position: relative;
  padding-left: 20px;
}
.aboutText p::before,
.aboutText h1::before {
  position: absolute;
  left: 0;
  content: "";
  width: 4px;
  height: 100%;
  background-color: #ffff57;
}
.aboutText h1 {
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 1;
}
.aboutText article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  padding-left: 20px;
}
.aboutText article::before {
  position: absolute;
  left: 0;
  content: "";
  width: 4px;
  height: 100%;
  background-color: #ffff57;
}
.aboutText article p {
  position: relative;
  padding-left: 0;
}
.aboutText article p::before {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #1c1c1c;
  z-index: 2;
}
header h1 {
  color: #ffff57;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.services .xxHome {
  right: auto;
  left: 20px;
}
.services .xleft {
  right: auto;
  left: 10px;
}

.servicesInner {
  padding: 50px 0 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.ser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 270px;
  height: 330px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: 0.3s all ease;
  z-index: 2;
  border: 3px solid #1c1c1c;
}
.ser img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}
.ser .wi200 {
  width: 150px;
}
.ser p,
.ser h2 {
  z-index: 2;
  color: #1c1c1c;
  text-align: center;
}
.ser h2 {
  font-size: 1em;
}
.ser p {
  font-size: 0.8em;
}

@media (max-width: 1150px) {
  .aboutText {
    width: 500px;
  }
}
@media (max-width: 900px) {
  .aboutCont {
    flex-direction: column;
  }
  .aboutText {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .aboutText h1 {
    font-size: 1.1em;
  }
  .aboutText p {
    font-size: 0.8em;
  }
}
@media (max-width: 420px) {
  .ser {
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  .aboutCont img {
    width: 100%;
  }
}
.clients {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.clients .xxHome {
  right: auto;
  left: 20px;
}

.clientsInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viw {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 7px 30px;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: 5px;
  bottom: 40px;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: 0.3s all ease;
  margin-top: 20px;
  border: 1px solid #ffff57;
}
.viw i {
  transition: 0.3s all ease;
}
.viw:hover {
  background-color: #ffff57;
  color: #1c1c1c;
}
.viw:hover i {
  color: #1c1c1c;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}
.client img {
  position: absolute;
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.pb50 {
  padding-bottom: 50px;
}

@media (max-width: 360px) {
  .client {
    margin: 0 auto;
  }
}
.counter {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

.counterCard {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  background-color: #1c1c1c;
}
.counterCard h1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 3.5em;
  white-space: nowrap;
  font-weight: 600;
  color: #ffff57;
  line-height: 1.25;
  z-index: 2;
}
.counterCard h1::after {
  content: "+";
  font-size: 0.5em;
}
.counterCard span {
  font-size: 1.2em;
  white-space: nowrap;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 2;
}
.counterCard img {
  position: absolute;
  right: auto;
}

.counterInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media (max-width: 1200px) {
  .counter {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .counterCard {
    height: 170px;
    width: calc(50% - 10px);
  }
  .counterCard h1 {
    font-size: 2.5em;
  }
  .counterCard span {
    font-size: 1em;
  }
}
@media (max-width: 350px) {
  .counterCard {
    height: 150px;
  }
  .counterCard h1 {
    font-size: 2em;
  }
  .counterCard span {
    font-size: 0.9em;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #1c1c1c;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerLogo img {
  width: 250px;
}
.footerLogo .aboutText {
  width: 400px;
}
.footerLogo .aboutText article p {
  font-size: 1em;
}

.footerLinkGroup {
  display: flex;
  gap: 100px;
}

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.linkGroup h2 {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}
.linkGroup h2::after {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #ffff57;
}
.linkGroup ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.linkGroup ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1em;
  line-height: 1.7;
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s all ease;
  font-weight: 300;
}
.linkGroup ul li a img {
  width: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.linkGroup ul li a:hover {
  color: #ffff57;
}

.cont {
  width: 290px;
}
.cont ul li:nth-child(1) a {
  line-height: 1.5;
}
.cont ul li a {
  line-height: 2;
}
.cont ul li a img {
  width: 20px;
}

.media {
  display: flex;
  gap: 10px;
  transform: translateY(-10px);
}
.media a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #fff;
  transition: 200ms all ease;
}
.media a i {
  font-size: 1.3em;
  color: #1c1c1c;
}
.media a:hover {
  background-color: #ffff57;
}

@media (max-width: 1001px) {
  .footer {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 601px) {
  .footerLinkGroup {
    flex-direction: column;
    gap: 30px;
  }
  .linkGroup {
    width: 100%;
  }
  .cont {
    width: 100%;
  }
}
@media (max-width: 421px) {
  .footerLogo img {
    width: 200px;
  }
  .footerLogo .aboutText {
    width: 100%;
  }
}
@media (max-width: 551px) {
  .circle {
    width: 359px;
    height: 378px;
    left: -350px;
    top: -250px;
  }
  .circle.topright {
    left: auto;
    top: -250px;
    right: -350px;
  }
}
#bullet {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: hsla(60, 100%, 67%, 0.4);
  border-radius: 50%;
  pointer-events: none;
  transition: 10ms linear;
  z-index: 25;
}

.ourwork {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  padding: 50px 0 50px 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.wImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 350px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.wImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s all ease;
}
.wImg img:hover {
  width: 350px;
  height: 400px;
}

@media (max-width: 976px) {
  #bullet {
    display: none;
  }
}
@media (max-width: 420px) {
  .ourwork {
    padding: 50px 0;
  }
  .wImg {
    margin: 0 auto;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  animation: hide 400ms ease 3000ms forwards;
}
.loader img:nth-child(2) {
  width: 80px;
  margin-left: 25px;
  transform: translateY(-20px);
}

@keyframes hide {
  100% {
    top: 100%;
  }
}
.loaderLogo {
  opacity: 0;
  animation: loader 1.5s linear 0s infinite forwards;
}
.loaderLogo img {
  width: 200px;
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-bottom: 5px solid #ffff57;
}
.header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  left: 0;
}
.header .layer {
  width: 500px;
  z-index: 5;
  animation: faderight 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 700ms forwards;
}
.header .hm1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.header h1 {
  z-index: 4;
  text-transform: uppercase;
  font-size: 3em;
  opacity: 0;
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
}
.header .blogHeader {
  z-index: 4;
}
.header .blogHeader h2 {
  width: 100%;
  font-size: 2em;
  opacity: 0;
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
  text-align: left;
  color: #ffff57;
}

@media (max-width: 550px) {
  .header .blogHeader h2 {
    font-size: 1.5em;
  }
}
.cForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cForm input,
.cForm textarea {
  border: none;
  outline: none;
  background-color: transparent;
  height: 40px;
  border-bottom: 1px solid #565656;
  font-size: 1em;
  color: #1c1c1c;
}
.cForm input::-moz-placeholder, .cForm textarea::-moz-placeholder {
  color: #565656;
}
.cForm input::placeholder,
.cForm textarea::placeholder {
  color: #565656;
}
.cForm textarea {
  resize: none;
  height: 75px;
}
.cForm button {
  width: 100%;
  height: 50px;
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 5px;
  font-weight: 500;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.contact .box {
  display: flex;
  align-items: stretch;
  gap: 50px;
  justify-content: space-between;
  padding: 0 0 0 20px;
}

.contactForm {
  width: 500px;
  padding: 100px 0;
}
.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contactForm form h1 {
  color: #1c1c1c;
}
.contactForm form span {
  color: #1c1c1c;
}

.cDatax {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  padding-right: 150px;
}

.longT {
  position: absolute;
  top: 0;
  height: 100%;
  width: 150px;
  background-color: #1c1c1c;
  right: 0;
}

.dCardr {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #1c1c1c;
  padding: 40px 100px 40px 40px;
}
.dCardr::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-color: #ffff57;
}
.dCardr .xxHome {
  right: 30px;
  left: auto;
  z-index: 1;
}

.rw {
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgba(255, 255, 255, 0.69);
  padding: 10px 0;
  transition: 0.2s all ease;
}
.rw img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.rw:hover {
  scale: 1.1;
}

.loaction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 350px;
}
.loaction iframe {
  width: 100%;
  height: 100%;
}
.loaction .lc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}
.loaction .lc a {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  height: 45px;
  padding: 0 30px;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #1c1c1c;
  transition: 0.3s all ease;
}
.loaction .lc a:hover {
  background-color: #ffff57;
  color: #1c1c1c;
}

@media (max-width: 1000px) {
  .contact .box {
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 30px;
  }
  .contactForm {
    width: 100%;
    padding: 50px 0 0 0;
  }
  .longT {
    display: none;
  }
  .cDatax {
    padding: 0;
  }
  .dCardr {
    width: 100%;
  }
  .dCardr::after {
    top: -15px;
    left: -15px;
  }
}
@media (max-width: 550px) {
  .header {
    height: 350px;
  }
  .header h1 {
    font-size: 2em;
  }
}
.hoverBtn {
  transition: 0.3s all ease;
}
.hoverBtn:hover {
  background-color: #ffff57;
  color: #1c1c1c;
}

.workInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
  overflow: hidden;
}

.works {
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.work-col1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work-col1 .flip:nth-child(1) {
  width: 100%;
  height: 400px;
}
.work-col1 .flip:nth-child(2) {
  width: 100%;
  height: 450px;
}

.work-col2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work-col2 .flip:nth-child(1) {
  width: 100%;
  height: 450px;
}
.work-col2 .flip:nth-child(2) {
  width: 100%;
  height: 400px;
}

.flip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  position: relative;
  overflow: hidden;
}
.flip:hover .flip-data {
  right: 0;
}

.flip-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flip-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 20px 40px 20px 40px;
  background-color: #1c1c1c;
  right: -100%;
  transition: 0.3s all ease;
}
.flip-data::after {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #ffff57;
  position: absolute;
  right: 0;
}
.flip-data h1 {
  font-size: 2em;
  color: #ffff57;
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
}
.flip-data p {
  font-size: 1em;
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
}
.flip-data span {
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 0.9em;
}
.flip-data .linkW {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-top: 30px;
}
.flip-data .linkW .viw {
  background-color: #ffff57;
  color: #1c1c1c;
  position: relative !important;
  right: auto;
  left: auto;
  bottom: auto;
  margin: 0;
  font-weight: 500;
}
.flip-data .linkW .viw i {
  color: #1c1c1c;
}

@media (max-width: 750px) {
  .works {
    flex-direction: column;
  }
  .work-col1,
  .work-col2 {
    width: 100%;
    flex-direction: column;
  }
  .work-col1 .flip,
  .work-col2 .flip {
    width: 100% !important;
    height: 400px !important;
  }
}
@media (max-width: 550px) {
  .flip-data {
    padding: 20px;
  }
  .flip-data h1 {
    font-size: 1.5em;
  }
  .linkW {
    padding-top: 10px;
  }
  .work-col1 .flip,
  .work-col2 .flip {
    height: 350px !important;
  }
}
.a2 .xxHome {
  left: auto;
  right: 10%;
}

.ab100 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.ab100 .aboutText {
  width: 100%;
}

.sw2 {
  padding: 20px 0;
}

.s6 {
  padding: 50px 20px 50px 20px;
}

@media (max-width: 1200px) {
  .s6 {
    padding: 50px 0 50px 20px;
  }
}
.sw3 {
  padding: 80px 0 20px 20px;
}

.serviceInner {
  width: 330px;
  height: 230px;
  padding: 40px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
}
.serviceInner h2 {
  padding: 0;
  width: 100%;
  font-size: 1.2em;
  color: #ffff57;
}
.serviceInner p {
  font-size: 0.7em;
  padding-top: 10px;
}

.top {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -60px;
  height: 40px;
}
.top img {
  width: 220px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.top h1 {
  color: #ffff57;
  position: relative;
  top: 50px;
  font-size: 2.5em;
  font-weight: 600;
}

@media (max-width: 450px) {
  .serviceInner {
    width: 100%;
    margin: 0 auto;
  }
  .sw3 {
    padding-left: 0;
    padding-right: 20px;
  }
}
.blogInner {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 30px;
}

.blog {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.viw2 {
  position: relative;
  bottom: auto;
  background-color: #ffff57;
  color: #1c1c1c;
  font-weight: 500;
}
.viw2 i {
  color: #1c1c1c;
}

.blogData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blogData h2 {
  color: #ffff57;
}
.blogData p {
  font-size: 0.9em;
}
.blogData .viw {
  margin: 0;
  margin-right: auto;
}

.contactHome {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 50px 20px;
}
.contactHome iframe {
  width: 50%;
  height: 350px;
  border-radius: 10px;
}
.contactHome form {
  width: 50%;
}
.contactHome form .cForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contactHome form .cForm input,
.contactHome form .cForm textarea {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.contactHome form .cForm input::-moz-placeholder, .contactHome form .cForm textarea::-moz-placeholder {
  color: #fff;
}
.contactHome form .cForm input::placeholder,
.contactHome form .cForm textarea::placeholder {
  color: #fff;
}
.contactHome form .cForm button {
  background-color: #fff;
  color: #1c1c1c;
}
.contactHome form .cForm button:hover {
  background-color: #ffff57;
}

@media (max-width: 976px) {
  .contactHome {
    flex-direction: column;
  }
  .contactHome iframe {
    width: 100%;
  }
  .contactHome form {
    width: 100%;
  }
  .blog {
    flex-direction: column;
  }
  .blog img {
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 450px) {
  .blog img {
    height: auto;
  }
  .blog h2 {
    font-size: 1.3em;
  }
  .blog p {
    font-size: 0.8em;
  }
}
.aboutSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.swAbout {
  border-radius: 10px;
}
.swAbout .swiper-slide img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .swAbout .swiper-slide img {
    height: auto;
  }
}
.floatC {
  top: auto;
  bottom: auto;
}

.centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 100px;
}

@media (max-width: 450px) {
  .sc {
    width: 100%;
    flex-direction: column;
  }
  .sc .serviceInner {
    width: 100%;
  }
}
.clientsIns {
  padding: 100px 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.workPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}

.filter {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: auto;
  padding: 0 20px;
  background-color: #1c1c1c;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.filter.active {
  background-color: #ffff57;
  color: #1c1c1c;
}

.filtW {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.filtW::after {
  content: "";
  position: absolute;
  right: -25px;
  top: -10px;
  z-index: 3;
  height: 150%;
  background-color: #000;
  width: 50px;
  box-shadow: -20px 0px 10px #000000;
}

.filterSw {
  width: 100%;
  overflow: hidden;
  padding-left: 20px;
}
.filterSw .swiper-slide {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.paginationCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  position: relative;
  direction: ltr;
  background-color: #1c1c1c;
  margin-top: 20px;
}

.page {
  font-size: 0.9em;
  color: #fff;
}
.page span {
  color: #ffff57;
}

@media (max-width: 471px) {
  .paginationCont {
    justify-content: center;
    padding: 0 20px;
  }
  .page {
    position: absolute;
    top: -27px;
    left: 5px;
  }
}
.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
}
.paginations button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff57;
  border-radius: 50%;
  margin: 0 10px;
}
.paginations button img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.spans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
  padding: 0 10px;
}
.spans li:nth-child(1) .page-link {
  background-color: #fff;
}
.spans li:nth-child(1) .page-link.active {
  background-color: #fff;
}
.spans li:nth-child(1) .page-link.active:hover {
  background-color: #c7c7c8;
}
.spans li:nth-child(7) .page-link {
  background-color: #fff;
}
.spans li:nth-child(7) .page-link.active {
  background-color: #fff;
}
.spans li:nth-child(7) .page-link.active:hover {
  background-color: #c7c7c8;
}
.spans li .page-link.active {
  background-color: #ffff57;
  color: #1c1c1c;
}
.spans li .page-link.active:hover {
  background-color: #ffff57;
}
.spans li .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eef0f4;
  color: #1c1c1c;
  transition: 0.2s;
  cursor: pointer;
  font-size: 0.8em;
}
.spans li .page-link img {
  width: 7px;
}
.spans li .page-link:hover {
  background-color: #c7c7c8;
}

@media (max-width: 471px) {
  .paginationCont {
    justify-content: center;
    padding: 0 20px;
    margin-top: 40px;
  }
  .page {
    position: absolute;
    top: -27px;
    left: 5px;
  }
}
.blogs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px;
}

.blogxInner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blogImg {
  width: 100%;
}
.blogImg img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.blogText {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1250px) {
  .blogImg img {
    height: auto;
  }
}
.yc {
  color: #ffff57;
}

.w100 {
  width: 100%;
}

.imgsP {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;
}
.imgsP img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1250px) {
  .imgsP img {
    height: auto;
  }
}
.tp {
  padding: 50px 20px;
}

.pDa {
  display: flex;
  flex-direction: column;
  z-index: 4;
  gap: 20px;
}
.pDa h3 {
  font-size: 2em;
  color: #ffff57;
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
}
.pDa p {
  font-size: 1em;
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
}
.pDa span {
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 0.9em;
}

@media (max-width: 600px) {
  .pDa {
    display: flex;
    flex-direction: column;
    z-index: 4;
    gap: 10px;
  }
  .pDa h3 {
    font-size: 1.5em;
  }
  .pDa p {
    font-size: 0.9em;
  }
  .pDa span {
    font-size: 0.8em;
  }
}/*# sourceMappingURL=style.css.map */